.menu-sticky {
  width: 100%;
  left: 0;
  top: 0;
  position: sticky;
  z-index: 999;
}

.menu-container {
  width: 100%;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.menu {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.menu-block {
  pointer-events: auto;
  display: flex;
}

.menu-top {
  top: 0;
}

.menu-bottom {
  bottom: 0;
}

