.link-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.75rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--color-focus);
}

.link-button-icon-container {
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button:not(:has(.link-button-title)),
.link-button-icon-container:not(:has(.link-button-title)) {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-white);
  padding-right: 1rem;
}

.link-button-icon {
  padding: 1rem;
  font-size: 3rem;
  flex-shrink: 0;
  padding: 0.75rem;
  stroke-width: 2;
  color: var(--color-white);
}

.link-button-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 100%;
  padding: 1rem;
  background-color: var(--color-shade);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition:
    top 0.3s ease,
    right 0.3s ease;
}

.link-button:hover .link-button-hover {
  right: 0;
}

.link-button-hover-icon {
  padding: 0.5rem;
  font-size: 2rem;
  stroke-width: 3;
  color: var(--color-shine);
  flex-shrink: 0;
}

.link-button-hover-url {
  flex: 1;
  font-size: 1rem;
  color: var(--color-shine);
  line-break: anywhere;
  word-break: break-all;
  text-align: center;
  text-wrap-style: balance;
}

.link-button-hover-url:empty {
  display: none;
}

@media (max-width: 800px) {
  .link-button {
    flex-direction: column;
    gap: 0.75rem;
  }
}

